@import url(../../assets/fonts/style.css);
.mainDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: inherit;
	width: 40%;
	height: 50px;
	// margin: 40px;
	// border: 1px solid black;
	border-radius: 15px;
	font-family: IRANSans;
	> div {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		font-weight: 500;
		width: 100%;
	}
	// i{
	// 	font-size: 12px;
	// }

	.button {
		font-size: 11px;
	}
	.buttonContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 10%;
	}
	.normalButtonContainer {
		width: 25%;
	}
	.button {
		font-size: 8px;
		font-weight: 400;
		font-family: IRANSans;
		border: none;
		outline: none;
		width: 100%;
		color: white;
		padding: 4% 0;
		border-radius: 50px;
		background-color: rgba(128, 128, 128, 0.205);
		&:hover {
			cursor: pointer;
			background-color: rgba(128, 128, 128, 0.5);
			color: white;
		}
		&:focus {
			border: none;
			outline: none;
		}
	}
	.redButton {
		background-color: rgb(204, 48, 27);
		&:hover {
			background-color: rgb(204, 48, 27);
		}
	}
	.blueButton {
		background-color: rgb(4, 100, 190);
		&:hover {
			background-color: rgb(4, 100, 190);
		}
	}
	.greenButton {
		background-color: rgb(11, 100, 7);
		&:hover {
			background-color: rgb(11, 100, 7);
		}
	}
	.iconButton {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: inherit;
		border: 1px solid white;
		border-radius: 50%;
		outline: none;
		color: white;
		width: fit-content;
		height: fit-content;
		padding: 5%;
		&:hover {
			cursor: pointer;
		}
		> i {
			font-size: 12px;
		}
	}
	.disabled {
		cursor: default;
		background-color: inherit;
		color: gray;
		&:hover {
			cursor: default;
			background-color: inherit;
			color: gray;
		}
	}
	.spinnerContainer {
		background-color: rgb(171, 202, 189);
		position: absolute;
		top: 10px;
		border-radius: 5px;
		height: 250px;
		box-shadow: 5px 5px 50px;
		left: 0;
		margin: 0 30%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		z-index: 500;
	}
	.modal {
		width: 500px;
		text-align: center;
		background-color: white;
		height: 400px;
	}

	@media screen and (min-width: 600px) {
		height: 60px;
		margin: 10px;
		.button {
			font-size: 10px;
		}
		.spinnerContainer {
			height: 290px;
			top: 10px;
		}
		.iconButton {
			> i {
				font-size: 13px;
			}
		}
		// i{
		// 	font-size: 13px;
		// }
	}

	@media screen and (min-width: 860px) {
		height: 80px;
		margin: 15px;
		.button {
			font-size: 12px;
		}
		.spinnerContainer {
			height: 320px;
			top: 20px;
		}
		.buttonText {
			display: inline-block;
		}
		.iconButton {
			> i {
				font-size: 15px;
			}
		}
	}

	@media screen and (min-width: 1280px) {
		height: 100px;
		margin: 20px;
		.button {
			font-size: 14px;
		}
		.spinnerContainer {
			height: 450px;
			top: 40px;
		}
		.iconButton {
			> i {
				font-size: 17px;
			}
		}
	}

	@media screen and (min-width: 1280px) {
		height: 120px;
		margin: 20px;
		.button {
			font-size: 15px;
		}
		.spinnerContainer {
			height: 500px;
			top: 20px;
		}
		.iconButton {
			> i {
				font-size: 22px;
			}
		}
	}
}

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 820px) {
	.mainDiv {
		margin: 0px;
	}
}
